table{
    margin: 20px auto 20px auto;
    width: 100%;
}

section {
    margin-bottom: 20px;
    border: 1px hsla(212, 100%, 87%, 0.5) solid;
    box-shadow: 3px 3px 3px 3px hsla(326, 0%, 79%, 1);
}

tr, th {
    border: hsla(212, 100%, 87%, 0.5) solid 1px;
    height: 35px;
}

.r1 {
    background-color: hsla(212, 100%, 87%, 0.5);
}

.r2 {
    background-color: hsla(127, 100%, 82%, 0.5);
}

.r3 {
    background-color: hsla(0, 100%, 76%, 0.5);
}

.control-table {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
}

.form-update {
    width: 80%;
    margin: auto;
}

#image-section {
    width: 100px;
    height: 100px;
    margin: 10px auto 10px auto;
}

#button-icon {
    margin-right: 20px;
}

#image-preview-update {
    margin: 20px auto 20px auto;
}