main {
    margin: auto;
    width: 90%;
    max-width: 600px;
    border: 1px solid #f7f7f7;
    box-shadow: 5px 3px 3px hsla(299, 100%, 78%, 0.30);
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}

#button {
    margin-top: 20px;
}