<article>
  <ion-button color="secondary" (click)="numPage(-1)" [disabled]="isMinusActivate">
    <ion-icon slot="icon-only" name="remove"></ion-icon>
  </ion-button>
  
  <p>{{ page }}</p>
  
  <ion-button color="danger" (click)="numPage(1)" [disabled]="isAddActivate">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <ion-button color="success" slot="center" (click)="updateTable()">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-button>
</article>

<table>

  <thead>
    <tr>
      <th class="r1">Name</th>
      <th class="r2">Description</th>
      <th class="r3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let category of categories">
      <th>{{ category.name }}</th>
      <th>{{ category.description }}</th>
      <th>
        <ion-button class="btn-op create" color="secondary" (click)="editCategory(category._id, category.name, category.description)">
          <ion-icon color="dark" size="large" slot="icon-only" name="create"></ion-icon>
        </ion-button>

        <ion-button class="btn-op delete" color="danger" (click)="deleteCategory(category._id, category.name)">
          <ion-icon color="dark" size="large" slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </th>
    </tr>
  </tbody>

</table>

<div *ngIf="isHidden" class="update-box">
  <div class="title">
    <h3>Update</h3>
    <button class="close-button" (click)="closeUpdate()">X</button>
  </div>

  <div class="sub-box">
    <form #categoryForm="ngForm" (ngSubmit)="updateCategory(categoryForm)">

      <input type="hidden" name="_id" [(ngModel)]="category._id">

      <ion-item class="form-part">
        <ion-label color="primary" position="floating">Category name</ion-label>
        <ion-input type="text" color="primary" placeholder="Enter category name" [(ngModel)]="category.name" name="name" require minlength="4"></ion-input>
        <!-- <ion-note color="tertiary" *ngIf="category.name.valid">Enter a category</ion-note> -->
      </ion-item>

      <ion-item>
        <ion-textarea color="primary" placeholder="Category description" [(ngModel)]="category.description" name="description"></ion-textarea>
      </ion-item>

      <button class="save-button">Update</button>
    
    </form>

  </div>

</div>