<article>
  <ion-button color="secondary" (click)="numPage(-1)">
    <ion-icon slot="icon-only" name="remove"></ion-icon>
  </ion-button>
  
  <p>{{ page }}</p>
  
  <ion-button color="danger" (click)="numPage(1)">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
</article>

<table>

  <thead>
    <tr>
      <th class="r1">Name</th>
      <th class="r2">Description</th>
      <th class="r3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let category of categories">
      <th>{{ category.name }}</th>
      <th>{{ category.description }}</th>
      <th>
        <ion-button class="btn-op" color="secondary">
          <ion-icon color="dark" size="large" slot="icon-only" name="create"></ion-icon>
        </ion-button>

        <ion-button class="btn-op" color="danger">
          <ion-icon color="dark" size="large" slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </th>
    </tr>
  </tbody>

</table>
