<ion-content [fullscreen]="true">
  <div id="container">
    <main id="login-container">
      <ion-img src="../../assets/Logo.png" id="image"></ion-img>

      <form [formGroup]="formUser" (ngSubmit)="login()">

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="Enter text" class="custom" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Enter text" class="custom" formControlName="password"></ion-input>
        </ion-item>

        <button id="button-login">Login</button>

      </form>

    </main>
  </div>
</ion-content>
